body {
  overflow-x: hidden;
}
[hidden] {
  display: none !important;
}
hr {
  width: 50vw;
}
.content-container,
.formTest-container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.flashcard-container {
  position: relative;
  height: 30vh;
  width: 50vw;
  left: 0%;
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  font-size: 25px;
}
.flashcard {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardNumber {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
}
#termCount {
  margin: 2vw;
}
.unit-container {
  position: relative;
  left: 0vw;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
.unit-container,
.flashcard-container,
.startTest-container,
.cardNumber {
  margin-top: 2vh;
  z-index: 10;
}

#chooseUnit,
#startTest,
.units {
  position: relative;
  margin: 2%;
  width: auto;
  font-size: 30px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#chooseUnit {
  width: auto;
}
.units {
  display: none;
}
#chooseUnit:hover,
#startTest:hover {
  cursor: pointer;
}
#chooseUnit:active,
#startTest:active {
  box-shadow: none;
}
.startTest-container {
  position: relative;
  left: 0vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#startTest {
  margin: 0 !important;
  width: auto;
  padding: 7px;
}
#numberOfQuestions {
  border: 2px solid #fdd835;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
.ceSwitch-btn,
.returnToMain,
#beginTest {
  position: relative;
  text-align: center;
  background-color: #fcfc83;
  border: 2px solid black;
  color: black;
  border-radius: 8px;
  font-weight: 500;
  padding: 10px;
  margin: 2%;
}
#beginTest,
.returnToMain {
  font-size: 1.7em;
}
.ceSwitch-btn {
  font-size: 1.5em;
}
.ceSwitch-btn:disabled,
.ceSwitch-btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
#beginTest:hover,
#beginTest:focus,
.ceSwitch-btn:hover,
.ceSwitch-btn:focus {
  background-color: #ffffea;
}
input[type="radio"],
input[type="checkbox"] {
  width: 2em;
  height: 2em;
}
.questionHeader {
  font-weight: normal;
  font-size: 2em;
}
.choice-wrapper {
  width: 50%;
}
form {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
